* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.8;
}

html,
body {
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
}

.row {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

html {
  scroll-snap-type: y mandatory;
}

#structure-header {
  transition: ease-in-out background 300ms;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  transition: background-color 0.3s;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        padding: 0.5rem;
        text-transform: uppercase;
        text-decoration: none;
        font-family: sans-serif;
        transition: color 0.3s;
      }
    }
  }
}

#structure-content {
  section {
    scroll-snap-align: start;
    width: 100%;
    min-width: fit-content;
    height: 100vh;
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    position: relative;
    box-sizing: border-box;

    &.dark {
      background-color: #000;
      color: #fff;
    }
  }
}

/* navbar start */
.navberSec {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navberSec .navbar-brand {
  font-size: 24px;
}

.navberSec a {
  font-size: 14px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  color: red;
}

/* navbar end */

/* banner start */

.banner-sec {
  background-image: url(./images/shubhamfinal.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 100%;
}

.banner-sec .name {
  font-size: 32px;
}

.designation span {
  font-size: 23px;
}

.mainProfileImg {
  display: none;
}

/* banner end */
/* experience start */

.experience-sec {
  height: 100%;
  width: 100%;
}

.experience-sec .fa-arrow-right {
  top: 1px;
  left: -38px;
  font-size: 25px;
}

/* experience end */

/* about start */
.skill-sec {
  background-image: url(./images/skills-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 100%;
}

.experienceBoxArea {
  border: 2px solid transparent;
  border-right: none;
  background: #80808045;
}

.expYear p {
  font-size: 30px;
  line-height: 1;
}

.expYear p span {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-color: red;
}

.experience-sec .experienceBox hr {
  width: 35%;
  background-color: white;
  height: 0.5rem;
}

.aboutDet {
  font-size: 55px;
}

.skillsProgress {
  margin-top: 2rem;
}

/* about end */

/* project start */

.project-sec,
.project-sec .item-1,
.project-sec .item-2,
.project-sec .item-3 {
  background-image: url(./images/project-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

/* 
.project-sec .item-2 {
  background-image: url(./images/test-1.jpeg);
}

.project-sec .item-3 {
  background-image: url(./images/test-2.jpeg);
}

.project-sec .item-4 {
  background-image: url(./images/guitar-bg.jpeg);
} */

/* .project-sec .carousel-indicators {
  bottom: 20%;
} */

.project-sec .carousel-indicators button {
  border-radius: 50%;
  height: 1rem !important;
  width: 1rem !important;
  margin: 0 1rem !important;
}

.project-sec .carousel-indicators .active {
  opacity: 1;
  background-color: red;
}

.project-sec .modal-header .btn-close {
  background-color: red;
}

.project-sec .modal-content {
  border: none;
  height: 100%;
  padding: 2rem 0;
}

.modal-dialog-scrollable .modal-body {
  overflow: hidden;
}

.modal-backdrop {
  position: initial;
}

.modal-dialog {
  min-width: 90% !important;
}

iframe {
  height: 500px !important;
}

/* project end */

/* education start */

.education-sec {
  height: 100%;
}

.educard {
  border: 2px solid transparent;
  border-radius: 0.2rem;
  padding: 2rem;
  height: 14rem;
  background: #80808045;
}

.certificationarea .educard {
  height: 11rem;
}

.educard .title p {
  font-size: 18px;
}

.educard .passYear p {
  font-size: 12px;
}

/* education end */

/* services start */

.services-sec {
  background-image: url(./images/service-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.services-sec .carousel-control-prev,
.services-sec .carousel-control-next {
  left: 10%;
  bottom: 0;
  top: auto;
  border: 2px solid rgba(255, 255, 255, 0.618);
  width: fit-content;
  padding: 0.5rem;
}

.services-sec .carousel-control-next {
  left: 25%;
}

.service-item {
  width: 80%;
  margin: auto;
  padding: 30px;
  text-align: center;
  margin-bottom: 5rem;
  border: 2px solid transparent;
  background: #80808045;
}

.service-item i {
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000033;
  color: var(--primary);
  font-size: 65px;
  padding: 1rem;
  border-radius: 0.2rem;
}

/* services end */

/* contact start */

.contact-sec {
  /* background-image: url(./images/contact-bg.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

form .bg-transparent {
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0.2rem;
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
  color: white;
}

form .bg-transparent:focus-visible {
  border: none;
  outline: none;
  background-color: rgba(111, 104, 104, 0.202) !important;
  border-bottom: 2px solid white;
}

/* contact end */

.btnDesign {
  padding: 1rem;
  color: white;
  background-color: red;
  border: 2px solid transparent;
  border-radius: 0.2rem;
  transition: all 1.5s;
}

.btnDesign:hover {
  border: 2px solid white;
  background-color: transparent;
}

.anchorText {
  color: white;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
}

.anchorText:hover {
  opacity: 1;
  color: white;
}

/* social sec start */

.social-icon {
  font-size: 24px;
  background-color: black;
  border-radius: 50%;
  border: none;
}

/* social sec end */
.overlayall {
  background-color: #0000009c;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  min-width: fit-content;
}

#experience,
#skills,
#project,
#education,
#services,
#contact {
  /* display: none; */
  height: fit-content !;
  /* min-height: 150vh !important; */
}

#home {
  height: fit-content;
  /* min-height: 115vh !important; */
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

/* Custom styles */
.animated-border {
  border: 1rem solid transparent;
  transition: border-color 0.3s;
}
.experience-sec {
  padding-top: 10rem !important;
  /* min-height: 188vh !important; */
}
@media screen and (max-width: 991px) {
  .navbar-nav {
    gap: 0.2rem !important;
  }

  .banner-sec {
    background-position: bottom;
  }

  .banner-sec .align-content-center {
    align-content: flex-start !important;
  }

  section {
    height: fit-content !important;
    width: fit-content !important;
  }

  .navberSec {
    width: 100% !important;
    padding: 0;
  }

  .skill-sec {
    padding-left: 0;
    padding-right: 0;
  }

  .banner-sec {
    height: 100% !important;
  }

  .expYear p {
    font-size: 24px;
  }

  .d-sd-block {
    display: block !important;
  }

  #experience,
  #skills,
  #project,
  #education,
  #services,
  #contact {
    /* min-height: 150vh !important; */
    height: fit-content !important;
  }

  .overlayall {
    padding: 2rem 0;
    padding-top: 5rem;
    padding-bottom: 2rem;
    /* min-height: 150vh !important; */
  }

  .project-sec #carouselExampleCaptions,
  .project-sec .carousel-inner {
    min-height: auto;
  }

  .experienceBoxArea {
    border-right: 2px solid transparent;
  }

  .respoHeight {
    min-height: 150vh !important;
    display: flex;
    align-items: center;
  }

  .services-sec .carousel-control-next {
    left: 30%;
  }
  .experience-sec {
    padding-top: 5rem;
  }
}

@media screen and (max-width: 576px) {
  .mainProfileImg {
    display: block;
    margin-bottom: 1rem;
  }

  .banner-sec {
    background-image: none !important;
  }

  .banner-sec .name {
    font-size: 32px !important;
  }

  section {
    scroll-snap-align: none !important;
  }
}
